*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('images/bg-desktop.svg');
    background-color: #674bb1;
    padding: 40px 40px 40px 40px;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemsImg{
    background: url('images/illustration-mockups.svg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    margin-top: 70px;
    object-fit: cover;
}

.itemsText{
    margin-left: 0px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.itemsText h1{
    color: #fff;
    max-width: 400px;
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
}

.itemsText p{
    color: #fff;
    max-width: 400px;
    margin-bottom: 50px;
    text-align: center;
}

.itemsText a{
    background: #fff;
    height: 40px;
    display: block;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #674bb1;
    border-radius: 20px 20px 20px 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer ul li{
    margin-right: 50px;
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media(min-width:992px){
    .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .itemsImg{
        background: url('images/illustration-mockups.svg');
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 700px;
        margin-top: 70px;
        object-fit: cover;
    }
    
    .itemsText{
        margin-left: 60px;
        margin-top: -50px;
        display: flex;
        align-items: flex-start;
    }
    
    .itemsText h1{
        color: #fff;
        max-width: 400px;
        margin-bottom: 30px;
        text-align: left;
    }
    
    .itemsText p{
        color: #fff;
        max-width: 400px;
        margin-bottom: 50px;
        text-align: left;
    }
    
    .itemsText a{
        background: #fff;
        height: 40px;
        display: block;
        height: 40px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #674bb1;
        border-radius: 20px 20px 20px 20px;
    }
    
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .footer ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-top: -80px;
    }
    
    .footer ul li{
        margin-right: 50px;
        color: #fff;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}
